
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

@mixin font-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}
